footer {
	width: 100%;
	background-color: #4e545c;
	padding: 16px;
	color: #e5e8e8;
	position: fixed;
	bottom: 0;
	text-align: center;
	font-weight: 400;
}

main {
    height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer.dark-mode{
    color: black;
    background-color: #8d9797;
}

button {
    border-radius: 90px;
	font-size: 1.5rem;
	height: 80px;
	width: 250px;
	border: none;
	background-color: #4e545c;
	color: black;
	transition: all 0.5s linear;
}


button:hover {
    background-color: gray;
}


button.dark-mode {
    color: white;
}

button.dark-mode:hover{
    color: white;
}


body {
    background-color: #e5e8e8;
    color: #4e545c;
    margin: 0;
    font-family: 'Quicksand';
}



body.dark-mode {
    background-color: black;
    color: #e5e8e8;
}